extends partials/layout.pug

block content
    .content.container
        .row
            h1 SVG Palette Designer
        .row
            .col-md-6.col-lg-5
                image#imagePreview
            .col-md-6.col-lg-5
                #svgPreview
            .col-md-12.col-lg-2
                #ui