extends partials/layout.pug

block content
    .content.container
        .row
            h1 SVG Palette Designer
        .row
            .col-6
                #svgPreview
            .col-6
                #ui